@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: radial-gradient(#e66465, #9198e5);
}
.heading{
   text-align:center;
   font-size: xx-large;
   text-decoration:underline;
}
.directions{
    text-align: center;
font-family:monospace;
color: rgb(255, 255, 255);
padding: 22px;
font-size: 18px;
}
.container{
padding: 20px;
width: 255px;
margin: 0 auto;
margin-top: 40px;
background: linear-gradient(110deg,rgb(244, 77, 35),rgb(255, 0, 200));
border-radius: 50px;
box-shadow: 10px 10px 5px #000;
}

form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
}

#button {
    display: inline-flex;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 2px;
    padding: 8px 15px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  #button:hover {
    transform: scale(1.1);
    background: linear-gradient(80deg,rgb(136, 0, 255),rgb(0, 166, 255));
    cursor: pointer;
    opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: #dfdfdf;}

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}